<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>Thống kê khảo sát</title>
</head>

<body>
    <div layout:fragment="content">
        <h4 class="fw-bold py-3 mb-4"><span id="btnPrevious"
            class="text-muted fw-light">Bài đăng khảo sát /</span> Thông tin thống kê
        </h4>
        <div class="card mb-4">
            <h5 class="card-header text-center">
                <span class="text-muted fw-light">Câu hỏi: </span> <span th:text="${questionText}"></span>
            </h5>
            <!-- Checkboxes and Radios -->
            <div class="card-body">
                <div th:if="${listTextAnswer != null}" class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>Số thứ tự</th> -->
                                <th>Câu trả lời</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            <th:block th:each="answer : ${listTextAnswer}">
                                <tr th:if="${answer.value.length > 0 }">
                                    <td th:text="${answer.value}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${listTextAnswer != null}" class="row gy-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div>
                            <div>
                                <canvas id="chartQuestion"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            var ctxQuestion = document.getElementById("chartQuestion");
            var apiStatQuest = "/admin/stat/question/" + /*[[${id}]]*/ '';
            var apiStatUnchoice = "/admin/stat/question/get_total/" + /*[[${id}]]*/ '';
            console.log(apiStatQuest);
            var configsChartQuestion = {
                type: 'pie',
                data: {},
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top'
                        },
                        // title: {
                        //   display: true,
                        //   text: 'Hãy chọn các ngôn ngữ bạn đã học dưới đây'
                        // },
                        datalabels: {
                            formatter: function (value, ctx) {
                                if (value > 0) {
                                    let sum = 0;
                                    let dataArr = ctx.chart.data.datasets[0].data;
                                    dataArr.map(data => {
                                        sum += data;
                                    });
                                    let percentage = (value * 100 / sum).toFixed(2) + "%";
                                    return percentage;
                                } else {
                                    value = "";
                                    return value;
                                }
                            }
                        }
                    },
                    responsive: true
                },
                plugins: [ChartDataLabels]
            }

            async function statQuest(api) {
                var data = {
                    datasets: [],

                    labels: []
                };

                var dataset = {
                    data: [],
                    datalabels: {
                        color: 'black'
                    }
                }

                await fetch(api)
                    .then(res => {
                        if (res.ok) {
                            return res.json();
                        }
                        return res.json().then(text => { throw new Error(text) })
                    }).then(d => {
                        d.forEach(value => {
                            // if (value[2] !== 0) {
                            //   data.labels.push(value[1]);
                            //   dataset.data.push(value[2]);
                            // }
                            data.labels.push(value[1]);
                            dataset.data.push(value[2]);
                        })

                    }).catch(err => console.log(err));

                var totalUnchoice = 0;

                await fetch(apiStatUnchoice)
                    .then(res => {
                        if (res.ok) {
                            return res.json();
                        }
                        return res.json().then(text => { throw new Error(text) })
                    }).then(d => {

                        totalUnchoice = d;

                    }).catch(err => console.log(err));

                if (totalUnchoice > 0) {
                    data.labels.push("Không chọn");
                    dataset.data.push(totalUnchoice);
                }
                data.datasets = [dataset];
                configsChartQuestion.data = data;
                drawChart(data.labels, ctxQuestion, configsChartQuestion);
            }

            function drawChart(labels, chartCtx, chartConfis) {
                if (Object.keys(chartConfis.data).length === 0) {
                    var data = {
                        labels: labels,
                        datasets: [{
                            label: "empty",
                            data: Array.from({ length: labels.length }, () => 0),
                            backgroundColor: 'red',
                            datalabels: {
                                color: 'black'
                            },
                            id: 1
                        }]
                    };
                    chartConfis.data = data;
                }
                var chart = Chart.getChart(chartCtx);
                if (chart) {
                    chart.destroy();
                }

                chart = new Chart(chartCtx, chartConfis);
            }

            var isTrue = /*[[${listTextAnswer} == null ? true:false]]*/ false;

            if (isTrue) {
                statQuest(apiStatQuest);
            }

            document.getElementById("btnPrevious").addEventListener('click', async (e) => {
                window.history.back();
            });
        </script>
    </div>
</body>

</html>