@import "../../style.scss";

#modal-change-password {
    @include themify($themes) {
        .modal-content {
            background-color: themed("bg");
            color: themed("textColor");
            width: 30vw;
            margin: auto;
            z-index: -1;

            @include mobile {
                width: 85vw;
            }

            .modal-header {
                .modal-title {
                    display: flex;
                    align-items: center;
                    gap:10px
                }
            }

            .modal-body {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                input {
                    background-color: themed("bg");
                    color: themed("textColor");
                }

                .icon {
                    color: themed("textColor");
                }
                
                // .input {
                //     input {
                //         background-color: themed("bg");
                //         color: themed("textColor");
                //         width: 100%;
                //         border-radius: 5px;
                //         padding: 0;
                //     }

                //     .p-viewer {
                //         z-index: 9999;
                //         position: absolute;
                //         top: 0;
                //         bottom: 0;
                //         right: 0;
                //         padding: 16px;
                //         padding-right: 20px;
                //     }
                    
                // }
            }

            .modal-footer {
            }
        }
    }
}